<div class = "container">
  <h1 class = "center">Repos for <i><%= @name %></i></h1>
  <br />
  <br />
  <% count = 0 %>
  <% @response.first.second.each do |repo| %>
    <div stlye = "height: 100px" class = "col-md-4">
      <h2>
        <%= repo['name'] %>
      </h2>
      <br />
      <p>
        <% if repo['days'].to_i > 0 %>
        You have commited for <%= repo['days'] %> days
        <% else %>
        You have not commited for <%= repo['days'] %> days
        <% end %>
      </p>
      <br />
      <p>
        <% if repo['image'] == "rip" %>
        <img src = "http://i.imgur.com/iRRSVAG.png">
        <% elsif repo['image'].to_i == 0%>
        <img src = "http://i.imgur.com/BDvpPnr.gif">
        <% elsif repo['image'].to_i == 1 %>  
        <img src = "http://i.imgur.com/LeluIYS.gif">
        <% elsif repo['image'].to_i == 2 %>  
        <img src = "http://i.imgur.com/mx7twIi.gif">
        <% elsif repo['image'].to_i == 3 %>  
        <img src = "http://i.imgur.com/oCw1Mkh.gif">
        <% elsif repo['image'].to_i == 4 %>  
        <img src = "http://i.imgur.com/MXTClYy.gif">
        <% elsif repo['image'].to_i == 5 %>  
        <img src = "http://i.imgur.com/DrlLxwA.gif">  
        <% end %>
      </p>  
    </div>
  <% end %>  
</div>
