@import 'bootstrap-sprockets';
@import 'bootstrap';

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.input-username {
    margin-right: 5px;
}

.container-fluid {
    background: white;
}

.navbar-form {
    padding-top: 25px;
}

.col-md-4, .col-md-12 {
    text-align: center;
}

.not-found {
    font-size: 18px;
    padding-top: 25px;
}

h3, h1, p, .navbar-brand {
    font-family: 'Gotham SSm',sans-serif;
    -webkit-font-smoothing: antialiased;
}

h3 {
    color: #3CB371;
    font-weight: 300;
    margin-bottom: 0;
}

h1 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #777;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}

.col-md-4 {
    padding-bottom: 80px;
    color: #3CB371;
    font-weight: 300;
}

.navbar-default .navbar-brand {
    font-size: 25px;
    color: #3CB371;
    font-weight: 300;
}

i {
    color: #3CB371;
}

p {
    color: #777;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
